<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Intervalo del servicio-->
    <add key="TimerInterval" value="1" />
    <!-- carpeta inicial -->
    <add key="FolderA" value="D:\\backtech\windows_service\\folder_a" />
    <!-- segunda carpeta -->
    <add key="FolderB" value="D:\\backtech\windows_service\\folder_b" />
    <!-- carpeta final -->
    <add key="FolderC" value="D:\\backtech\windows_service\\folder_c" />
    <!--ControlTime1 expresado en minutos. Por ejemplo 1 dia es 1440 minutos, colocar 1440-->
    <add key="ControlTime1" value="2" />
    <!--ControlTime1 expresado en minutos. Por ejemplo 2 dias es 2880 minutos, colocar 2880-->
    <add key="ControlTime2" value="2" />
    <!--ControlTime3 Expresado en minutos. -->
    <add key="ControlTime3" value="2" />
  </appSettings>
</configuration>